<html>
    <head>
        <title>Rutendo Remakes</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rutendo Remakes</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Hi there! This is the first post on Rutendo Remakes. Enjoy!</p>
        </div>

        <div>
            <p>published: 28.05.2020, 17:40</p>
            <h2><a href="">My second post</a></h2>
            <p>Welcome to my second post.</p>
        </div>

        </div>
            <h2><a href="">Test post</a></h2>
            <a href="https://djangogirls.org">Django girls website</a>
            <ul><li>first item</li><li>second item</li></ul>
            <strong>text</strong>
            <p><em>text</em></p>
            <br>Abc <br>def <br>ghi
            <p>A paragraph of text</p>
        </div>

    </body>
</html>
